BasedOnStyle: Google

AccessModifierOffset: -2
FixNamespaceComments: true
SpacesBeforeTrailingComments: 1
MaxEmptyLinesToKeep: 2
Cpp11BracedListStyle: false

ColumnLimit: 120

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<(ext)/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^(<|")boost/'
    Priority:        3
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '^"antlr4'
    Priority:        5
  - Regex:           '^"netspeak'
    Priority:        6
  - Regex:           '.*'
    Priority:        4
